
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200&display=swap');

body{
    background-color: antiquewhite;
}

h1{
    font-family: 'Muli', sans-serif;
    text-align: center;
    background-color: burlywood;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline;

}

img{
    width: 200px;
    display: inline-block;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    

}
nav{
    background-color: transparent;
}

div{
    position: sticky;
    
}

*{
    text-align: center;
}